@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 36, 51, 80;
  --background-end-rgb: 36, 51, 80;
}

body {
  @apply font-sans;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-barlow font-bold;
}

.link-with-bar::before {
  @apply block w-[350px] md:w-[500px] h-[2px] bg-gray-700 my-2;
  content: "";
}

.link-with-bar1::after {
  @apply block w-full h-[2px] bg-gray-700 mt-2;
  content: "";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
